// Specific CSS for your home-page
.review {
  background: #fff;
  border-radius: 5px;
  padding: 25px 0px;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,0.15);
  .pic {
    text-align: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .name {
    font-weight: 700;
  }
  .comment {
    span {
      font-weight: 300;
      font-size: 11px;
    }
  }
  .star {
    justify-content: center;
    color: #ffbe00;
  }
}
