.legal-area {
  padding: 40px 0px;
  h1 {
    font-weight: 300;
    color: $green;
  }
  h2 {
    font-weight: 300;
    color: black;
    font-size: 24px;
    margin-top: 30px;
  }
  h3 {
    font-weight: 300;
    color: black;
    font-size: 18px;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    color: #4a4a4a;
  }
  span {
    font-size: 15px;
    font-weight: 300;
    color: #4a4a4a;
  }
  ul {
    font-weight: 300;
    color: black;
  }
  a {
    font-size: 14px;
    font-weight: normal;
    color: $green;
  }
  strong {
    color: $green;
  }
}

.g-condition-use {
  background: white;
  padding: 40px 60px;
  h1 {
    color: black;
  }
  h2 {
    margin-top: 40px;
    font-size: 18px;
    color: $green;
  }
  p {
    font-weight: 300;
    color: black;
  }
}

.container-condition-use {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.layout-container {
  padding: 40px 0px;
}
