<div class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="area-fnt mb-3">
          <h4>Fit and Co</h4>
          <span>
            Eu augue ut lectus arcu bibendum at.
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="area">
          <div class="area-title underline mb-3 pb-2">
            Menu
          </div>
          <ul>
            <li>Accueil</li>
            <li>Planning</li>
            <li>Nos cours</li>
            <li>Nos coachs</li>
            <li>Tarifs</li>
            <li>Contact</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="area">
          <div class="area-title underline mb-3 pb-2">
            Info légales
          </div>
          <ul>
            <li>dcscsdsd</li>
            <li>dezdzzd</li>
            <li><a href="mailto:contact@uppday.com">Contactez-nous</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="area">
          <div class="area-title underline mb-3 pb-2">
            Contact
          </div>
          <ul>
            <li><i class="far fa-envelope"></i> <%= User.first.email %></li>
            <li><i class="fas fa-mobile-alt"></i> <%= User.first.phone %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <span class="copyright float-right"> © 2019 Fit and Co - Tout droit réservé </span>
  </div>
</div>


