.btn {
  border-radius: 0.375rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
}

.btn-rounded {
  border-radius: 50px;
}


.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.375rem;
  font-weight: 600;
}

.btn-medium {
  padding: 10px 40px;
}

.btn-lg {
  padding: 17px 50px;
}


.btn-primary {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-default {
  color: #fff;
  background-color: $dark-blue;
  border-color: $dark-blue;
}

.btn-info {
  color: #fff;
}

.btn-success {
  background: linear-gradient(87deg, #3aff00 0, #b4ff00 100%);
  border-color: #3aff00;
  color: #222833;
  font-weight: 700;
  font-size: 17px;
}

.btn-success-lt {
  background: linear-gradient(87deg, #00ff2b 0, #17fd73 100%);
  color: #fff;
  box-shadow: 0 0px 0px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);
}

.btn-dark {
  background: #000;
  color: #00ff2b;
  font-size: 15px;
  font-weight: 700;
}

.btn-header {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.375rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
}
