.card {
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.card-header {
  border-radius: 0.375rem !important;
  background-color: transparent;
  .card-header-title {
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
  }
}

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.card-profile-image {
  position: relative;
  img {
    max-width: 180px;
    border-radius: 0.375rem;
    transform: translate(-50%, -30%);
    position: absolute;
    left: 50%;
    transition: all 0.15s ease;
  }
}

.card-profile-stats {
  padding: 1rem 0;
  div {
    text-align: center;
    margin-right: 1rem;
    padding: .875rem;
  }
  .heading {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    color: #525f7f;
  }
  .description {
    font-size: .875rem;
    color: #adb5bd;
  }
}

.card-user-info {
  .title-contact {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
  }
  .user-fullname {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #32325d;
  }
  .user-address {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #32325d;
    margin-bottom: 35px;
  }
  .user-contact {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
  }
}

.card-stats {
  .number {
    font-size: 1.25rem;
    color: #525f7f;
  }
  h5 {
    font-weight: 600;
    font-size: 13px;
  }
}

.card-header-home {
  h2 {
    font-weight: 700;
    color: #30233D;
    font-size: 49px;
  }
  p {
    max-width: 650px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #30233D;
  }
}

.card-home {
  h4 {
    font-weight: 600;
  }
  p {
    color: #776C82;
    font-size: 14px;
    padding: 0px 20px;
  }
}

.bg-left-panel {
  width: 70%;
  color: white;
  padding: 50px 150px;
  a, p {
    color: white;
  }
  h2 {
    font-size: 45px;
    font-weight: 700;
    color: $green;
  }
  span {
    font-size: 32px;
    font-weight: 600;
  }
}

.bg-right-panel {
  width: 30%;
  height: 500px;
  background-image: linear-gradient(rgba(7, 7, 7, 0.53), rgba(19, 19, 19, 0.1)), url("https://res.cloudinary.com/dcssvcmls/image/upload/v1569327423/fitandco/fitandcoreservation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

// COURSES CARD
.courses-area {
  h2 {
    font-weight: 700;
    border-bottom: 2px solid #8CC441;
    display: inline;
  }
  p {
    max-width: 700px;
  }
}

.card-course {
  h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    color: $green;
    text-transform: uppercase;
  }
  span {
    font-weight: 500;
    font-size: 25px;
  }
  p {
    color: #776C82;
    font-weight: 300;
    font-size: 17px;
    padding-top: 11px;
  }
}

.photo-size {
  height: 450px;
}

//COACH CARDS
.coach-header {
  min-height: 500px;
}

.coachs-area {
  h2 {
    font-weight: 700;
    border-bottom: 2px solid #8CC441;
    display: inline;
  }
  p {
    max-width: 700px;
  }
}

.card-coach {
  .coach-photo {
    position: relative;
    width: 250px;
    height: 250px;
    img {
      position: absolute;
      top: 10px;
      width: 230px;
      height: 230px;
      border-radius: 50%;
    }
  }
  .coach-name {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  .coach-specialisation {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    color: $green;
  }
}

.mt-n8 {
  margin-top: -8rem;
}

// CARD PLANNING
.planning-card {
  .plan-img {
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 13px;
      margin: 10px;
    }
  }
}


// MEDIA QUERY
@media (min-width: 768px) {
  .pb-md-4, .py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .card-course {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 100px;
  }
}

@media (min-width: 768px) {
  .pt-md-4, .py-md-4 {
    padding-top: 1.5rem !important;
  }
}

.pt-8, .py-8 {
  padding-top: 8rem;
}

@media (min-width: 100px) and (max-width: 900px) {
  .bg-left-panel {
    width: 100%;
    padding: 50px 25px;
  }
  .display-none {
    display: none !important;
  }
  .order-sm-devise {
    order: 1;
  }
  .photo-size {
    height: 250px;
  }
}
