.form-control-label {
  color: #525f7f;
  font-size: 0.875rem;
  font-weight: 700;
}

.form-control-alternative {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow .15s ease;
}

.form-control-text {
    padding: 10px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 1px 3px, rgba(0, 0, 0, 0.02) 0px 1px 0px;
    border: 0px;
    font-size: 15px;
    color: rgb(136, 152, 170)
}

.form-control {
  font-size: 15px;
  color: #8898aa;
  height: calc(2.75rem + 2px);
}

.form-inputs span {
  padding-bottom: 20px;
}

abbr[title="required"] {
  display: none;
}

// INPUT MULTIPLES FILES + DRAG AND DROP

.file-drop-area {
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(98, 98, 98, 0.4);
  border-radius: 3px;
  transition: 0.2s;
  position: relative;
  &.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.fake-btn {
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

@media (min-width: 900px) {
  .file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
