.icon-shape {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: relative;
  i {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 18px;
    color: white;
  }
  .second-i {
    left: 11px !important;
  }
}

.icon-rounded-blur {
  position: relative;
  width: 55px;
  height: 55px;
  background: #8cc44129;
  border-radius: 50px;
  border: 2px solid $green;
  i {
    position: absolute;
    top: 18px;
    left: 15px;
    color: $green;
    text-shadow: 0px 1px 3px #c8c8c8;
  }
  .second-ir {
    left: 19px !important;
  }
}
