.icon-shape {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: relative;
  i {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 18px;
    color: white;
  }
  .second-i {
    left: 11px !important;
  }
}

.icon-rounded-blur {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  img {
    position: absolute;
  }
  .second-ir {
    left: 19px !important;
  }
}
