.fb-iframe {
  border: none;
  overflow: hidden;
  width: 500px;
  height: 400px;
}


@media (min-width: 100px) and (max-width: 900px) {
  .fb-iframe {
    border: none;
    overflow: hidden;
    max-width: 320px;
    height: 400px;
  }
}
