.modal-form {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.modal-form-header {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-bottom: 0px solid transparent;
}

.modal-header-title {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  color: #32325d;
}
