.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 25px;
  margin-left: 24px;
}

.nav-item {
  a {
    font-weight: 500;
  }
}

.nav-link:hover {
  border-bottom: 2px solid $green;
}

.nav-link.active {
  border-bottom: 2px solid $green;
}

.navbar-f {
  img {
    width: 43px;
    margin-left: 20px;
  }
  ul {
    font-size: 14px;
    color: #ffffffe3;
    font-weight: 600;
  }
  li {
    padding-left: 13px;
  }
  i {
    padding-right: 8px;
    font-size: 18px;
    color: white;
  }
}

.navbar-fc {
  img {
    width: 43px;
    margin-left: 20px;
  }
  ul {
    font-size: 14px;
    color: $dark;
    font-weight: 600;
  }
  li {
    padding-left: 13px;
  }
  i {
    padding-right: 8px;
    font-size: 18px;
    color: $dark;
  }
  .navbar-brand {
    color: $dark;
  }
}


@media (min-width: 100px) and (max-width: 900px) {
  .navbar-sm {
    background: linear-gradient(87deg, #001922 0, #0e2a3a 100%);
    border-bottom: 1px solid #939393a8;
  }
  .navbar-f ul {
    margin-top: 15px;
  }
  .navbar-fc-sm {
    background: white;
    border-bottom: 1px solid #939393a8;
  }
}
