<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @courses.each do |course| %>
      <div class="carousel-item <%= "active" if course.id == @photos.first.course_id  %>" style="background-image: linear-gradient(to bottom, rgba(255,0,0,0), #181C1F), url(<%= course.photos.first.image %>)">
        <img src="" class="d-block w-100" alt="...">
      </div>
    <% end %>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

