<div class="container">
  <div class="legal-area">
    <h1>Mentions légales</h1>

    <h2>1. Préambule</h2>
    <div>
        <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="https://www.fitandco.fr/mentions-legales" target="_blank">www.fitandco.fr</a> les informations suivantes :</p>
    </div>


    <h2>2. Informations Légales</h2>
    <div class="legal-rules">
      <span>Le Site fitandco.fr est édité par la société :</span>
      <span>Auto-entreprise de Mr Roche Guillaume Immatriculée au Registre du Commerce et des Sociétés</span>
      <span>Numéro SIRET: 83500892100016</span>
      <span>8 rue nouvelle du port, 24000 Perigueux</span>
      <span>Contact: <strong>guillaumeroche24@gmail.com</strong></span>
    </div>


    <h2>3. Directeur de publication</h2>
    <div class="legal-rules">
      <span>Directeur de la  publication : <strong>Cyril Guermont</strong></span>
      <span>Contactez le responsable de la publication : <strong>cyril.guermont@hotmail.fr</strong></span>
    </div>


    <h2>4. Hébergement de l’application</h2>
    <div>
      <p style="text-align:justify">Le Site FITANDCO est hébergé par la société Heroku, Inc. dont le siège social est au 650 7th Street San Francisco, CA 94103. Contact: https://www.heroku.com/contact ou +33 1 (877) 563-4311). La société Heroku dispose de Data-Centers hautement sécurisés situés en Europe, offrant d'importantes garanties de sécurité et respecte la législation européenne concernant les données personnelles.
      Pour en savoir plus sur la sécurité mise en œuvre : https://www.heroku.com/policy/security.
    </div>

    <span>Date de la dernière mise à jour : 03/10/2019</span>
  </div>
</div>
