<div class="coach-header mt-5 mb-5 pt-5 pb-5">
  <div class="container">
    <div class="coachs-area d-flex flex-column align-items-center mt-5 mb-5">
       <h2 class="pb-3">Nos abonnements</h2>
        <p class="text-center mt-3">Upper prior hundred links approach reedy, was to the than and the ever somehow surprised known for every by of there until road, </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @prices.each do |price| %>
      <div class="col-md-4 mt-n8 mb-5">
        <div class="card card-subscription d-flex flex-column align-items-center mb-5">
          <div class="price mt-3">
            <span class="intp"><%= price.price %></span>
            <span class="lgp">€</span>
          </div>
          <div class="price-duration mt-n3">
            <%= price.duration %>
          </div>
          <div class="price-description mt-5">
            <p class="text-center">
              <%= price.description %>
            </p>
          </div>
          <div class="position-button">
             <%= link_to "contactez-nous", root_path, class: "btn btn-success btn-rounded" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
