// Define variables for your color scheme

// For example:
$dark-blue: #172b4d;
$blue: #5e72e4;
$light-blue: #11cdef;
$gray: #0E0000;
$light-gray: #EAEAEA;
$green: #8CC441;
$red: #f5365c;
$orange: #fb6340;
