<% content_for :meta_title, "Erreur 500 | Fit and Co" %>
<% content_for :meta_description, "Quelque chose ne marche pas !" %>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>500</h1>
    </div>
    <h2>Oups! Un problème technique est survenu</h2>
    <p>Désolé quelque chose ne fonctionne plus &#128543;. Une erreur vient de se produire et nous travaillons à la résoudre le plus rapidement rapidement possible ! <%= link_to "Revenir à la page d'acceuil", root_path %></p>
    <p>Si le problème persiste n'hésitez pas à nous contactez à <a href="">contact@fitandco.fr</a> </p>
  </div>
</div>
