<% content_for :meta_title, "Erreur 404 | Fit and Co" %>
<% content_for :meta_description, "La page n'existe pas" %>

<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>Oups! Page introuvable.</h2>
    <p>Désolé mais la page que vous cherchez est introuvable ! Rendez-vous sur la page d'accueil pour poursuivre votre visite et trouver la salle de vos rêves. <%= link_to "Revenir à la page d'acceuil", root_path %></p>
  </div>
</div>
