<nav id="sidebar">
  <div class="sidebar-header">
      <h3>Fit & Co</h3>
  </div>

  <ul class="list-unstyled components">
      <p>Bonjour <%= current_user.email %></p>

      <li>
          <a href="#">Page d'accueil</a>
      </li>
      <li>
        <a href="#">Planning</a>
      </li>
      <li>
          <a href="#">Mes cours</a>
      </li>
      <li>
          <a href="#">Mes coachs</a>
      </li>
      <li>
          <a href="#">Contact</a>
      </li>
  </ul>
</nav>
