<% @plannings.each do |planning| %>
  <tr>
    <th scope="row"><div class="align-items-center th-header"><%= planning.title %></div></th>
    <td>
      <div class="th-text text-center">
        <%= cl_image_tag planning.plan_img, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"thumb", class: "avatar-circle" %>
      </div>
    </td>
    <td>
      <div class="th-text text-center">
        <%= link_to "Edit", edit_planning_path(planning), class: "btn btn-sm btn-primary" %>
      </div>
    </td>
    <td class="text-center">
      <div><%= link_to planning_path(planning), remote: true, method: :delete, data: {confirm: "Êtes-vous sûr ?"} do %>
        <i class="far fa-trash-alt" aria-hidden="true"></i>
    <% end %></div>
    </td>
  </tr>
<% end %>

